# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor settings
.vscode/

# Training model weights
yolov4.weights
yolov4.h5
